  
  .profil_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .profil_img {
    display: flex;
    justify-content: center;
    height: 10rem;
    padding: 1rem;
  }
  
  .name_edit_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .status_profil {
    z-index: 1;
    width: 1.3rem;
    height: 1.3rem;
    border: 3px solid rgb(255 255 255);
    border-radius: 2rem;
  }
  
  .status_content {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1rem 0;
  }
  
  .edit_btn {
    color: #444df2;
    font-weight: 500;
    cursor: pointer;
  }
  .close_btn {
    width: 25px;
    height: 25px;
    display: flex;
    transition: 125ms ease-in-out;
    cursor: pointer;
  }
  .close_btn:hover{
    background-color: #666df123;
    border-radius: 20px;
  }