<div class="profil_menu">
  <div class="profil_header">
    <h3>Dein Profil bearbeiten</h3>
    <div class="close_btn" (click)="closeProfilDialog()">
      <img src="./assets/icon/close.svg" alt="close" />
    </div>
  </div>

  <div class="profil_img">
    <img src="{{ currentUser?.avatar }}" alt="avatar" />
  </div>

  <div class="name_edit_content">
    <div class="name_content">
      <img src="./assets/icon/account_circle.svg" alt="icon" />
      <h2>Vollständiger Name</h2>
    </div>
    <input type="text" [(ngModel)]="editFullname" [placeholder]="currentUser?.fullname" />
    <div class="btn_content">
      <button (click)="closeProfilDialog()">Abbrechen</button>
      <button (click)="saveProfile()" class="save_btn">Speichern</button>
    </div>
  </div>
</div>
