@if(currentChannelId != '') {
    <div class="channel-bar">
        @for (channel of firebase.allChannels; track $index) {
            @if (currentChannelId === channel.id) {
                <div class="dropdown-channel">
                    <p>{{channel.channelName}}</p>
                </div>
                <div class="avatar-wrapper">
                    <div class="avatar"></div>
                    <div class="avatar"></div>
                    <div class="avatar"></div>
                    <div class="avatar add-icon"></div>
                    <p>+3</p>
                </div>
            }
        }
    </div>
} @else if (currentChannelId == '' && !currentConversationPartnerId) {
    <div class="default-bar">
        <h2>Neue Nachricht</h2>
        <input class="search-bar" type="text" placeholder="An: #channel, oder @jemand oder E-Mail Adresse">
    </div> 
} @else if (currentConversationPartnerId) {
    <div class="private-bar">
        @for (user of firebase.allUsersList; track $index) {
            @if(currentConversationPartnerId === user.id) {
                <img class="avatar-large" [src]="user.avatar" alt="">
                <h2>{{user.fullname}}</h2>
            }
        }
    </div> 
}

