section {
  background-color: #fff;
  border-radius: 20px;
  padding: 30px 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.headline {
  display: flex;
  justify-content: space-between;

  .close_btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    transform: scale(1.1);
    cursor: pointer;

    &:hover {
      background-color: #444df231;
      fill: #444df2;
    }
    &:hover path {
      fill: #444df2;
    }
  }
}

.member_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 25px;
}

.user-search {
  position: relative;
}

.user-search ul {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(171, 171, 235, 0.616) #f1f1f144;
  z-index: 10;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-search li {
  padding: 8px;
  cursor: pointer;
}

.user-search li:hover {
  background-color: #f0f0f0;
}

.status_btn {
  position: absolute;
  top: 1.7rem;
  left: 2.3rem;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 3px solid rgb(255 255 255);
  border-radius: 2rem;
}
.dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-search input {
  width: 100%;
  outline: none;
  padding: 10px 10px;
  border-radius: 50px;
  border: 1px solid #444df2;
}
button {
  margin-top: 20px;
}
.disabled-btn {
  background-color: #444df259;
  color: #fff;
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: 700;
  font-size: 1rem;
  margin-left: auto;
  margin-bottom: 5px;
}

.enabled-btn {
  background-color: #444df2;
  color: #fff;
  transition: 145ms ease-in-out;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  margin-left: auto;
  margin-bottom: 5px;

  &:hover {
    background-color: rgba(68, 77, 242, 0.6862745098);
  }
}

.selected-users{
  display: flex;
  flex-direction: column;

  span{
    display: flex;
    align-items: center;
    gap: 10px;
    img{
    width: 1.5rem;
  }

  button{
    margin-top: 0;
    cursor: pointer;
    color: #444df2;
    width: 20px;
    height: 20px;

    &:hover{
      background-color: #444df22c;
      border-radius: 20px;
    }
  }
  }

  
}