@use '../../../styles.scss' as styles; 

section {
    width: 100%;
    background-color: white;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    height: 80vh;
    padding: 2rem;
    margin: 0.8rem;
}

.channel-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #80808014;
    margin-bottom: 4rem;

    .avatar-wrapper {
        display: flex;
        align-items: center;
        .avatar {
            width: 2rem;
            height: 2rem;
            border-radius: 2rem;
            background-color: aquamarine;
        }
    }
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    .line {
        height: 2px;
        width: 100%;
        background-color: #80808056;
    }
    p {
        position: absolute;
        background-color: white;
        border: 1px solid #80808056;
        border-radius: 0.88rem;
        padding: 0 1rem;
    }
}

.message-wrapper {
    display: flex;
    padding: 3rem 0;
    gap: 1rem;
    .avatar-large {
        width: 3rem;
        height: 3rem;
        border-radius: 2rem;
        background-color: aquamarine;
    }
}

.message-info-wrapper {
    .name-and-time {
        display: flex;
        gap: 1rem;
    }

    .message {
        background-color: styles.$lightpurple;
        padding: 1rem;
        border-radius: 0 1.5rem 1.5rem;
    }

    .threads {
        display: flex;
        gap: 0.5rem;
    }
}