$purple: #444DF2;
$midpurple: #ADB0D9;
$lightpurple:  #eceefe;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
    text-decoration: none;
    font-family: 'Nunito'; 
}

body{
    background-color: $lightpurple;
    font-size: 16px;
}

@font-face {
    font-family: 'Nunito';
    src: url('../public/assets/fonts/Nunito/Nunito-VariableFont_wght.ttf');
}

button {
    border: none;
    background-color: transparent;
}