<section>
  <div class="devspace_bar">
    <img class="logo_size" src="./assets/icon/Workspace logo.svg" alt="logo" />
    <h1>Devspace</h1>
    <img class="right" src="./assets/icon/edit_square.svg" alt="new Channel" />
  </div>
<!-- channel -->
  <div class="channel_bar">
    <div class="channel_dropdown">
        <img src="./assets/icon/arrow_drop_down.svg" alt="drop_down" />
        <img src="./assets/icon/workspaces.svg" alt="Workspaces" />
        <p>Channels</p>
    </div>
    <img class="right" src="./assets/icon/add.svg" alt="add" />
  </div>

  <div class="channels_content">
    <div class="groups_btn d_flex">
        <img src="./assets/icon/tag.svg" alt="tag">
        <span>Entwicklerteam</span>
    </div>
    <div class="add_channel_btn d_flex">
        <img src="./assets/icon/add_circle.svg" alt="add">
        <span>Channel hinzufügen</span>
    </div>
  </div>

<!-- direktnachticht_content -->
    <div class="channel_dropdown">
        <img src="./assets/icon/arrow_drop_down.svg" alt="drop_down" />
        <img src="./assets/icon/account_circle_d.svg" alt="account" />
        <p>Direktnachricht</p>
    </div>

  <div class="channels_content">
    <div class="groups_btn d_flex">
        <img src="./assets/icon/tag.svg" alt="tag">
        <span>Entwicklerteam</span>
    </div>
    <div class="add_channel_btn d_flex">
        <img src="./assets/icon/add_circle.svg" alt="add">
        <span>Channel hinzufügen</span>
    </div>
  </div>


</section>
