<header>
  <div class="header-container">
    <img class="logo" src="./assets/icon/Logo.svg" alt="LOGO" />

    <div class="search_content">
      <input
        type="text"
        placeholder="Devspace durchsuchen"
        (input)="onInputChange($event)"
        (focus)="onInputFocus()"
        [(ngModel)]="searchTerm"
      />

      <img class="search_icon" src="./assets/icon/search.svg" alt="search" />

      @if(showDropdown){
      <div class="dropdown">
        <ul>
          <li
            *ngFor="let person of filteredPersons" (click)="selectPerson(person)">
            <div class="dropdown-item">
              <div class="status_btn" [ngStyle]="{'background-color': person.status ? '#92c83e': '#b7b7b7'}"></div>
            <img src="./{{ person.avatar }}" alt="avatar">
            {{ person.fullname }}
            </div>
          </li>
        </ul>
      </div>
      }
    </div>

<!-- Profil -->
    @if(currentUser){
    <div class="avatar_content" (click)="openProfilMenu()">
      <p class="avatar_name">{{ currentUser.fullname }}</p>
      <div class="status_btn postion" [ngStyle]="{'background-color': currentUser.status ? '#92c83e': '#b7b7b7'}"></div>
      <div class="avatar_img"><img [src]="'./' + currentUser.avatar" alt="avatar" /></div>
    
      <div class="drop_nav_content">
        <img src="./assets/icon/keyboard_arrow_down.png" alt="" />
      </div>
    </div>
  }

  @if(showProfilDropdown){
    <div class="overlay" (click)="closeProfilMenu(); closeProfilDialog(); editDialogisClicked = false"></div>
    <div class="profil_dropdown">
      <ul>
        <li (click)="openProfilDialog()">Profil</li>
        <li>Log out</li>
      </ul>
    </div>
    } 
    
    <!-- Profi-Dialog -->
   @if(profilDialogisClicked){
    <div class="profil_menu">
      <div class="profil_header">
        <h3>Profil</h3>
        <div class="close_btn" (click)="closeProfilDialog()"><img src="./assets/icon/close.svg" alt="close"></div>
      </div>

      <div class="profil_img"><img src="{{ currentUser?.avatar }}" alt="avatar"></div>

      <div class="name_edit_content">
      <h2>{{ currentUser?.fullname }}</h2>
      <p class="edit_btn" (click)="editDialog()">Bearbeiten</p>
      </div>

      <div class="status_content">
        <div class="status_profil" [ngStyle]="{'background-color': currentUser?.status ? '#92c83e': '#b7b7b7'}"></div>
        <strong [ngStyle]="{'color': currentUser?.status ? '#92c83e': '#b7b7b7'}">
          {{ currentUser?.status ? 'Aktiv' : 'Offline' }}
        </strong>
      </div>

      <div class="status_content">
        <img src="./assets/icon/mail.svg" alt="email">
        <p class="edit_btn">{{ currentUser?.email }}</p>
      </div>
    </div>
   }

   @if(editDialogisClicked){
    <div class="edit_menu" (click)="$event.stopPropagation()">
      <app-edit-profile-dialog
      [currentUser]="currentUser"
      (close)="editDialogisClicked=false"
      ></app-edit-profile-dialog>
    </div>
   }


  </div>

 
</header>
