header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  gap: 15px;
.logo_conent{
  width: 38%;
  margin: 0.8rem;
  .logo {
    width: 10rem;
  }
}
  
}

//SEACH
.search_content {
  width: 100%;
  position: relative;

  input {
    width: 100%;
    border-radius: 20rem;
    padding: 0.5rem 1.5rem;
    border-style: none;
    background-color: #fff;
    outline: none;
  }
  .search_icon {
    position: absolute;
    top: 8px;
    right: 19px;
    width: 1.2rem;
    background-color: #fff;
  }
}
// /dropdown inputfield
.dropdown {
  position: absolute;
  top: 25px;
  left: 23px;
  border: 1px solid #5a53802f;
  width: 20rem;
  box-shadow: 0 4px 6px rgba(71, 71, 71, 0.075);
  z-index: 9999;
  box-sizing: content-box;
  overflow: hidden;
  border-radius: 0 20px 20px 20px;
  background-color: #fff;
}

.dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  padding: 10px 30px;
  cursor: pointer;
  background-color: #fff;
  height: 3.8rem;
  display: flex;
  align-items: center;
}

.dropdown li:hover {
  background-color: #0c54970e;
  border-radius: 20px;
  color: #444df2;
  font-weight: 500;
}

.dropdown-item {
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.status_btn {
  position: absolute;
  top: 1.7rem;
  left: 2.3rem;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 3px solid rgb(255 255 255);
  border-radius: 2rem;
}

.postion {
  top: 2rem;
  left: 14.2rem;
}

// Profil Content
.avatar_content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  width: 37%;
}

.avatar_img {
  background-color: aquamarine;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
}

.avatar_name {
  font-weight: 700;
  font-size: 1.5rem;
}

.drop_nav_content {
  display: flex;
  align-items: center;

  img {
    width: 1.5rem;
  }
}

// /Profil dropdown
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); // leicht transparenter schwarzer Hintergrund
  z-index: 9;
}

.profil_dropdown {
  position: absolute;
  top: 4.6rem;
  right: 2rem;
  border: 1px solid #5a53802f;
  width: 20rem;
  box-shadow: 0 4px 6px rgba(71, 71, 71, 0.075);
  z-index: 10;
  box-sizing: content-box;
  overflow: hidden;
  border-radius: 20px 0 20px 20px;
  background-color: #fff;
  width: 165px;
}

.profil_dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.profil_dropdown li {
  padding: 10px 30px;
  cursor: pointer;
  background-color: #fff;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profil_dropdown li:hover {
  background-color: #0c54970e;
  border-radius: 20px;
  color: #444df2;
  font-weight: 700;
}

// profil_menu
.profil_menu {
  position: absolute;
  top: 4.6rem;
  right: 2rem;
  border: 1px solid #5a53802f;
  width: 25rem;
  box-shadow: 0 4px 6px rgba(71, 71, 71, 0.075);
  z-index: 11;
  box-sizing: content-box;
  overflow: hidden;
  border-radius: 20px 0 20px 20px;
  background-color: #fff;
  padding: 2rem;
  cursor: default;
}

.profil_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profil_img {
  display: flex;
  justify-content: center;
  height: 10rem;
  padding: 1rem;
}

.name_edit_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status_profil {
  z-index: 1;
  width: 1.3rem;
  height: 1.3rem;
  border: 3px solid rgb(255 255 255);
  border-radius: 2rem;
}

.status_content {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1rem 0;
}

.edit_btn {
  color: #444df2;
  font-weight: 500;
  cursor: pointer;
}
.close_btn {
  width: 25px;
  height: 25px;
  display: flex;
  transition: 125ms ease-in-out;
  cursor: pointer;
}
.close_btn:hover{
  background-color: #666df123;
  border-radius: 20px;
}

// edit-dialog
.edit_menu {
  position: absolute;
  top: 4.6rem;
  right: 2rem;
  border: 1px solid #5a53802f;
  width: 25rem;
  box-shadow: 0 4px 6px rgba(71, 71, 71, 0.075);
  z-index: 1006;
  box-sizing: content-box;
  overflow: hidden;
  border-radius: 20px 0 20px 20px;
  background-color: #fff;
  padding: 2rem;
  cursor: default;
}

@media (max-width: 1280px) {
  .avatar_name {
    display: none;
  }
  .postion {
    top: 2rem;
    left: 12rem;
  }
}

@media (max-width: 700px) {
  .search_content {
    display: none;
  }
}
