header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  gap: 15px;

  .logo {
    width: 10rem;
  }
}

//SEACH
.search_content{
width: 35rem;
position: relative;

input{
    width: 100%;
    border-radius: 20rem;
    padding: 0.5rem 1.5rem;
    border-style: none;
    background-color: #fff;
    outline:none;
}
.search_icon{
    position:absolute;
    top: 8px;
    right: 19px;
    width: 1.2rem;
    background-color: #fff;
}
}
// /dropdown inputfield
.dropdown {
    position: absolute;
    top: 25px;
    left: 23px;
    border: 1px solid #5a53802f;
    width: 20rem;
    box-shadow: 0 4px 6px rgba(71, 71, 71, 0.075);
    z-index: 9999;
    box-sizing: content-box;
    overflow: hidden;   
    border-radius: 0 20px 20px 20px;
    background-color: #fff;
  }
  
  .dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown li {
    padding: 10px 30px;
    cursor: pointer;
    background-color: #fff;
    height: 3.8rem;
    display: flex
;
    align-items: center;
  }
  
  .dropdown li:hover {
    background-color: #0c54970e;
    border-radius: 20px;
  }

  .dropdown-item{
    height: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .status_btn{
    position: absolute;
    top: 1.7rem;
    left: 2.3rem;
    z-index: 1;
    // background-color: rgb(98, 182, 81);
    width: 1rem;
    height: 1rem;
    border: 3px solid rgb(255 255 255);
    border-radius: 2rem;
  }

  .postion{
    top:2rem;
    left: 2.4rem;
  }

// Profil Content
.avatar_content {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.avatar_img {
  background-color: aquamarine;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
}

.avatar_name {
  font-weight: 700;
  font-size: 1.5rem;
}

.drop_nav_content {
  display: flex;
  align-items: center;

  img {
    width: 1.5rem;
  }
}


@media (max-width:1160px){
    .avatar_name{
        display: none;
    }
}

@media (max-width:700px){
    .search_content{
        display: none;
    }
}