<header>
    <div class="header-container">
      <img class="logo" src="./assets/icon/Logo.svg" alt="LOGO">

      <div class="search_content">
        <input type="text" placeholder="Devspace durchsuchen">
        <img src="./assets/icon/search.svg" alt="search">
      </div>

      <div class="avatar_content">
        <p class="avatar_name">Caryen Song</p>
        <div class="avatar_img"></div>
        <div class="drop_nav_content"><img src="./assets/icon/keyboard_arrow_down.png" alt=""></div>
      </div>
    </div>
  </header>